body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333;
}

p{
    padding: 0p;
}

#resultado{
}

.card{
    display: inline-block;
    margin: 1em;
    background-color: whitesmoke;
    border: white 5px ridge;

    width: 350px;
}


.title{
    margin-top: -19px;
}

.lblTitle{
    background-color: rgb(21, 100, 179);
    color: white;
    border-bottom: rgb(233, 233, 233) 3px ridge;
}

.txtTitle{

    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-bottom: rgb(233, 233, 233) 3px ridge;

    height: 60px;
}

.img{
    border-bottom: rgb(233, 233, 233) 3px ridge;
}

.imgs{

    width: 200px;
}

.ids{
    height: auto;
}

    .lblIds{
        display:inline-flex;
        background-color: rgb(223, 212, 199);
        border-bottom: rgb(233, 233, 233) 3px ridge;
        height: 50%;
    }

    .lblAlbumId{
        background-color: rgb(21, 100, 179);
        color: white;
        width: 175px;
        border-right: rgb(233, 233, 233) 3px ridge;
    }

    .lblId{
        background-color: rgb(21, 100, 179);
        color: white;
        width: 175px;
    }

    .txtIds{
        display:inline-flex;
        height: 48%;
    }

    .txtAlbumId{
        width: 175px;
        border-right: rgb(233, 233, 233) 3px ridge;
    }

    .txtId{
        width: 175px;
    }





        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }
        .modalDialog:target {
            opacity:1;
            pointer-events: auto;
        }
        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }
        .close:hover { background: red; }



    /* BOTO NSARRO*/

    @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


.container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
